<div class="container">
	<h1 class="jumbotron-heading">Album Example</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col"> 
			<p> THIS IS SOME TEXT IHRFIH :LHDIHBF :IHODH HIFHPI HFDIHDIHF IHIFHIFH HFIHFH IHF :FHF HF IH:K HFKHB FGSUHS HBDLJHBD JHFDLHF HFLJH FLKJHD LJNLJNS LJNB</p>
		</div>
		<div class="col">
			<p> THIS IS SOME TEXT IHRFIH :LHDIHBF :IHODH HIFHPI HFDIHDIHF IHIFHIFH HFIHFH IHF :FHF HF IH:K HFKHB FGSUHS HBDLJHBD JHFDLHF HFLJH FLKJHD LJNLJNS LJNB</p>
		</div>
	</div>
</div>
